{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{%static 'styles/home.css'%}">
    <script defer src="{% static 'js/script.js' %}"></script>
</head>
<body>
    <aside class="sidebar">
        <h2>Bonjour MOnsieur</h2>
        <ul>
            <li><a href="#" class="nav_link" data-target="dashboard">Dashboard</a></li>
            <li><a href="#" class="nav_link" data-target="agent">Agent</a></li>
            <li><a href="#" class="nav_link" data-target="proprietes">Proprietes</a></li>
            <li><a href="#" class="nav_link" data-target="baux">Baux</a></li>
        </ul>
        <form action="{% url 'adminLogout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
    </aside>
    <main>
        <!--partie dashboard-->
        <article id="dashboard" class="panel active">
            <div class="dashboard-content">
                <div class="info">

                </div>

                <div class="stats">

                </div>
                <div class="Historique">

                </div>
            </div>
        </article >
        <!--Agent-->
        <article id="agent" class="panel">
            
            <div class="recherch">

            </div>
            <div class="tableagent">
                <table>
                    <tr>
                        <th>matricule</th>
                        <th>nom</th>
                        <th>prenom</th>
                        <th>email</th>
                        <th>telephone</th>
                        <th>date_embauche</th>
                    </tr>
                </table>
            </div>
        </article>
        <!--Proprietes-->
        <article id="proprietes" class="panel"> 
            
            <div class="recherch">

            </div>
            <div class="tableproprietes">
                <table>
                    <tr>
                        <th>id</th>
                        <th>adresse</th>
                        <th>prix</th>
                        <th>surface</th>
                        <th>type</th>
                        <th>statut</th>
                    </tr>
                </table>
            </div>
        </article>
        <!--Baux-->
        <article id="baux" class="panel">    
        
            <div class="recherch">

            </div>
            <div class="tableBaux">
                <table>
                    <tr>
                        <th>Locataire</th>
                        <th>Propriete</th>
                        <th>Date_Debut</th>
                        <th>Date_Fin</th>
                        <th>Loyer_Mensuel</th>
                    </tr>
                </table>
            </div>
    </main>
</body>
</html>