{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{%static 'styles/home.css'%}">
</head>
<body>
    <aside class="sidebar">
        <h2>Bonjour MOnsieur</h2>
        <ul>
            <li><a href="#" class="nav_link">Dashboard</a></li>
            <li><a href="#" class="nav_link">Propriete</a></li>
            <li><a href="#" class="nav_link">Baux/historique_location</a></li>
            <li><a href="#" class="nav_link">message</a></li>
            <li><a href="#" class="nav_link">offre de contrat</a></li>
        </ul>
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
    </aside>

    <main>
        <!--partie dashboard-->
        <article>
            <div class="info">

            </div>

            <div class="stats">

            </div>
            <div class="Historique">

            </div>
        </article>
        <!--propriete-->
        <article >
            <div class="recherch">

            </div>
            <div class="tableBaux">

            </div>
        </article>
        <!-- partie BAux-->
        <article>
            <div class="recherch">

            </div>
            <div class="tableBaux">

            </div>
        </article>
        <!--message-->
        <article>

        </article>
        <!--offre de contrat-->
        <article>

        </article>
        
    </main>
</body>
</html>